.carrousel-item{
    background-color: aqua;
    width: 200px;
    height: 250px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 10px;
    transition: 450ms;
    transform-origin: center left;
    position: relative;
    overflow: hidden;

}
.carrousel-item:hover ~ .carrousel-item,.carrousel-item:focus ~ .carrousel-item{
    transform: translate3d(100px,0,0);
}

.carrousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    transition: 120ms;
}
.carrousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0, 0.9) 0%, rgba(0,0,0,0) 100%);
    font-size: 10px;
    opacity:0;
    transition: 450ms opacity;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom:0px;
    left:0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: white;
}
.carrousel-item__details:hover,.carrousel-item__details:focus{
    opacity: 1;
}


.carrousel-item__details img{
    margin-left: 15px;
    width: 25px;
    height: 25px;
    transition:120ms;
}
.carrousel-item__details img:hover{
    filter: brightness(1.2);
}
.carrousel-item__details img:active{
    width: 22px;
    height: 22px;
}
.carrousel-item__details--title{
    margin-left: 15px;
    margin-bottom: 5px;
}
.carrousel-item__details--subtitle{
    margin-left: 15px;
    margin-top: 0px;  
}







.details_info[data-descr]{
    cursor: help;
    position:relative;
}
.details_info[data-descr]:hover::after,.details_info[data-descr]:focus::after{
    content:attr(data-descr);
    position: absolute;
    color: white;
    left: 0;
    bottom:28px;
    font-size: 12px;
    min-width: auto;
    background: #2D2D34;
    border-radius: 4px;
    z-index: 1;
}

.details_add[data-descr]{
    cursor:help;
    position:relative;
}
.details_add[data-descr]:hover::after,.details_add[data-descr]:focus::after{
    content:attr(data-descr);
    position: absolute;
    color:white;
    left:0;
    bottom:28px;
    font-size: 12px;
    min-width: auto;
    background: #2D2D34;
    border-radius: 4px;
    z-index: 1;
}