.carrousel{
 
    width: 100%;
    overflow: scroll;
    padding-left:30px; 
    position: relative;
    overflow-y: auto;
}

.carrousel::-webkit-scrollbar{
    width: 10px;
    background:transparent;
}

.carrousel::-webkit-scrollbar-thumb{
    background: #E365C1;
    border-radius: 30px;
 
}


.carrousel__container{
    white-space: nowrap;
    padding-bottom: 10px;
    font-size: 0;
    margin: 70px 0px;
}

.carrousel__container:hover .carrousel-item{
    opacity: 0.3;
}
.carrousel__container:hover .carrousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}