.categories{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.categories_tittle{
    color:white;
    width: 90%;
    height: 20px;
    font-size: 24px;
    margin: 0px 0px 0px 36px;

}
